<div>
    <ul>
        <li><a class="active" href="#!/home">Profile</a></li>
        <li><a href="#!/article">Article</a></li>
        <li><a href="#!/page-not-found">Error</a></li>
    </ul>
</div>
<div style="padding:14px 16px; margin:10px; border:10px solid Blue; clear:both;">
    <ng-view></ng-view>
</div>

@section Scripts{
    <script src="~/js/app/common/routing.js"></script>
    <script src="~/js/app/controllers/home-controller.js"></script>
    <script src="~/js/app/controllers/article-controller.js"></script>
}