<div>
    <ul>
        <li><a class="active" href="#!/home">Profile</a></li>
        <li><a href="#!/Article">Article</a></li>
        <li><a href="#!/blog/098Xfs1234">Blog</a></li>
        <li><a href="#!/page-not-found">Error</a></li>
    </ul>
</div>
<div style="padding:14px 16px; margin:10px; border:10px solid Blue; clear:both;">
    <ng-view></ng-view>
</div>

@section Scripts{
    <script src="~/js/app/routing.js"></script>
} 